@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Agenda Telefonica</h1>
    </div>
    <footer>
        <input type="button" value="Novo Contato"/>
        <input type="button" value="Pesquisar Contato" />
    </footer>
</body>
</html>
